@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap");

/* 
  Variables (for color scheme) 
*/
:root 
{
  --primary-color: #FF8360;
  --secondary-color: #7A5C61;
  --neutral: #FBF5F3;
  --accent: #8EAAAB;
}

body 
{
  font-family: "Roboto", sans-serif;
  background-color: var(--neutral);
  color: var(--secondary-color);
  margin: 3vh 4vw 11vh 6vw;
  text-align: left;
}


/* Top bar content (not the buttons) */
#top-bar 
{
  display: flex;
  flex-direction: row;
  flex-flow: space-around;
  border-right: var(--neutral) 20px double;
  padding: 1.1vh 2.3vw 2.7vh 0.7vw;
  background: var(--primary-color);
  transform: skewX(14deg);
  position: relative;
  left: -1.7vw;
}


.logo {
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: 0.22em;
  color: var(--neutral);
  text-shadow:
    3px 3px 0 var(--accent),
    6px 6px 0 var(--secondary-color);
  margin-bottom: 0.9vh;
  position: relative;
  top: 0.6vh;
}

/* Navigation */
.nav
{
  padding-left: 2vw;
}

/* Nav li */
.nav li 
{
  display: inline-block;
  margin-right: 2vw;
}


/*Nav a (buttons)*/
.nav a 
{
  text-decoration: none;
  color: var(--secondary-color);
  background-color: var(--neutral);
  padding: 0.4vh 0.8vw;
  border-left: var(--primary-color) 10px double;
  transition: color 0.3s, background-color 0.3s;
}

.nav a:hover
{
  background-color: var(--accent);
  color: var(--neutral);
  transition: color 0.3s, background-color 0.3s;
}

/*Main headers*/
h1,
h2,
h3 {
  padding-left: 1.4vw;
  margin-top: 4.6vh;
  margin-bottom: 1.7vh;
  color: var(--neutral);
  background-color: var(--secondary-color);
  transform: skewX(14deg);
  position: relative;
  border-left: var(--neutral) 20px double;
}


h1 
{
  background-color: var(--accent);
}


p 
{
  max-width: 63vw;
  line-height: 1.37;
  border-left: 3px dashed var(--primary-color);
  padding-left: 1.9vw;
  margin-left: 4.4vw;
  text-align: justify;
  text-indent: 2.7vw;
  word-spacing: 0.28em;
  max-width: 80vw;
}

/*Half grid*/
.half-grid
{
  display: grid;
  grid-template-columns: 50% 50%;
}


.page-image
{
  position: relative;
  z-index: 1;
  margin: 1vh auto 1vh auto;
  text-align: center;
}



.page-image img 
{
  max-height: 400px;
  height: auto;
}

.page-image--contact
{
  margin-top: 100px;
}

.page-image--services {
}



/* Contact form stuff */

.home-form {
  font-weight: bold;
}


/* Contact form stuff */
input,
textarea {
  width: 23vw;
  border: 2px solid var(--accent);
  background-color: var(--neutral);
  color: var(--secondary-color);
  display: block;
  margin: 0.7vh 0 2.3vh 1.1vw;
}

/* Contact form stuff */

button {
  background-color: var(--primary-color);
  border: 0;
  transform: skewX(14deg);
  border-left: 10px double var(--neutral);
  color: var(--neutral);
  padding: 0.9vh 1.9vw;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition: background-color 0.3s;
}

button:hover 
{
  background-color: var(--accent);
  transition: background-color 0.3s;
}

#footer-text 
{
  border-left: none;
  text-align: center;
  text-decoration: none;
}

#footer-text a
{
  text-decoration: none;
  color: var(--secondary-color);
}